{% extends "tech_index.html" %}
{% block content %}
<div class="container">
    
    <div class="row">
        <img class="pageimg" src="">
        <hr/>
        <div class="col-9" >
            <i><h3>Pytest</h3></i>
            <p></p>
            
        </div>
        <div class="col" style="margin-left:20px;">
            <strong><i><h3>Links</h3></i></strong>
            <hr/>
            <ul>
                <li><a href="" target="_blank"></a></li>
                <li><a href="" target="_blank"></a></li>
            </ul>
            <br/>
        </div>
    </div>
</div>
{% endblock %}